<div class="button">
<!--<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#MyModal">Open Modal</button>-->
<button type="button" class="btn btn-danger" ui-sref=".dashboard" > Dashboard </button>
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#MyModal"> Account </button>
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#MyModal"> Messages </button>
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#MyModal"> Support </button>
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#MyModal"> Reports </button>
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#MyModal"> Patient </button>
    <div id="MyModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="modal-title"><h1>modal header</h1></div>
                </div>
                <div class="modal-body"><p>modal body modal body modal body modal body modal body modal body modal body modal body modal body modal body modal body modal body modal body </p></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
  
</div>

  
    <div class="panel panel-default" ui-view></div>
