<!--

<h3>List of Products</h3>
<ul>
  <li ng-repeat="product in products">{{product}}</li>
</ul>

-->

<!--
<!DOCTYPE html>
<html>
<head>
    <title>login page</title>
    </head>
<body>
-->

<div class="container login">
<!--     <h1 style="text-align:center;">Registration Form</h1>-->
        
        <div ng-cloak>
            <form name="projectForm">
<!--                <label class="header">Registration Form</label>-->
                <br>
               <md-input-container class="md-block">
                  <label class="txt"><span class="glyphicon glyphicon-user"></span> firstname</label>
                  <input required name="firstName" ng-model="data1.firstname">
                  <div ng-messages="projectForm.firstName.$error">
                     <div ng-message="required">This is required.</div>
                  </div>
               </md-input-container>
                <md-input-container class="md-block">
                  <label class="txt"><span class="glyphicon glyphicon-user"></span> lastname</label>
                  <input required name="middleName" ng-model="data1.lastname">
                  <div ng-messages="projectForm.middleName.$error">
                     <div ng-message="required">This is required.</div>
                  </div>
               </md-input-container>
                <md-input-container class="md-block">
                  <label class="txt"><span class="glyphicon glyphicon-user"></span> username</label>
                  <input required name="lastName" ng-model="data1.username">
                  <div ng-messages="projectForm.lastName.$error">
                     <div ng-message="required">This is required.</div>
                  </div>
               </md-input-container>
                <md-input-container class="md-block">
                  <label class="txt"><span class="glyphicon glyphicon-earphone"></span> contactno</label>
                  <input required name="text" numbers-Only ng-model="data1.contactno"
                    minlength="10"  maxlength="10"/>
                  <div ng-messages="projectForm.phoneNumber.$error" role="alert">
                     <div ng-message-exp="['required','minlength', 'maxlength']">
                        Enter a valid Phone Number with length of minimum 10.
                     </div>
                  </div>
               </md-input-container>
               <md-input-container class="md-block">
                  <label class="txt"><span class="glyphicon glyphicon-envelope"></span> email</label>
                  <input required type="email" name="userEmail" ng-model="data1.email"
                     minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                  <div ng-messages="projectForm.userEmail.$error" role="alert">
                     <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                        Your email must be between 10 and 100 characters long and should be a valid email address.
                     </div>
                  </div>
               </md-input-container>
                <md-input-container class="md-block">
                  <label class="txt"><span class="glyphicon glyphicon-lock"></span> password</label>
                  <input required type="password" name="password" ng-model="data1.password"
                     minlength="6" />
                  <div ng-messages="projectForm.password.$error">
                     <div ng-message="required">The Password should have at least 6 characters.</div>
                  </div>
               </md-input-container>
                <md-input-container class="md-block">
                  <label class="txt"><span class="glyphicon glyphicon-lock"></span> passwordagain</label>
                  <input required type="password" name="password" ng-model="data1.passwordagain"
                     minlength="6" />
                  <div ng-messages="projectForm.password.$error">
                     <div ng-message="required">The Password should have at least 6 characters.</div>
                  </div>
               </md-input-container>
                <md-input-container class="md-block">
                    <button class="padd btn btn-primary" type="submit" name="submit"  ng-click="register()">Submit</button>
                    <button class="padd btn btn-primary" type="clear" name="cancel">Cancel</button>
               </md-input-container>
            </form>
      </div>
    </div>
<!--
    
    </body>
</html>-->
